<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Добавить лошадь</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

</head>
<header th:insert="blocks/header::header_horse"></header>

<div class="container mt-5 mb-5">
    <h1>Добавить лошадь</h1>
    <form action="/horse/add" method="post">
        <div class="span1"></div>
        <input type="text" name="name" id="nameHorse" placeholder="Введите имя лошади" class="form-control"></br>
        <div class="span2"></div>
        <input type="text" name="type" id="type" placeholder="Введите тип лошади" class="form-control"></br>
        <div class="span3"></div>
        <input type="text" name="age" id="age" placeholder="Введите возраст лошади" class="form-control"></br>
        <div class="span4"></div>
        <input type="text" name="price" id="price" placeholder="Введите цену лошади" class="form-control"></br>
        <button type="submit" class="btn btn-success">Добавить</button>
        <a th:href="'/horse'" class="btn btn-warning">Назад</a>
    </form>
</div>
<div th:insert="blocks/footer::footer"></div>

<script type="text/javascript" th:src="@{/js/validate.js}"></script>
</body>
</html>